 <!--FOOTER--> 
 <footer class="container">
 <div class="row">
  <div class="col-md-12">
      		<p class="text-muted">A Member of the NAASIC Family<br/>450 Sinclair Street<br/>Reno, NV 89501</p>
			<p class="text-muted"><a href="#">FAQ</a> - <a href="#">Partners</a> - <a href="#">About</a> - <a href="#">RSS Feed</a> - <a href="http://www.facebook.com/nvdynamics"><i class="fa fa-facebook fa-fw fa-1x"></i></a> <a href="#"><i class="fa fa-twitter fa-fw fa-1x"></i></a>  <a href="#"><i class="fa fa-github fa-fw fa-1x"></i></a><br/><strong>Call us</strong> at <i class="fa fa-phone fa-fw"></i> (775) 299-9639</li> or <strong>email us</strong> at <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:mac@nevada.unr.edu">mac@nevada.unr.edu</a>.
			<br/>Copyright © Nevada Dynamics 2015 - <a href="#">Terms of Use</a> - <a href="#">Privacy Policy</a></p>
    </div>
 </div>
</footer>