  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Nevada Dynamics is enabling long-range command and control of drones for hobbyists and commercial users">
      
      <!--<meta name="google-site-verification" content="1njzlgG_lAEZcd4fuzR2EVFnU7qq3M4YkdPzckqRhd8" />-->
      <title>
      {% if page.title %}
        {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
      </title>
      <link rel="alternate" type="application/rss+xml" href="NVDWebsite/atom.xml" />
      <link rel="apple-touch-icon" href="{{ site.github.url }}/apple-touch-icon.png" />
      <script src="{{ site.github.url }}/js/modernizr-2.6.2.js"></script>
      
      <!-- Bootstrap Core CSS -->
      <link href="{{ site.github.url }}/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="{{ site.github.url }}/css/stylish-frame.css" rel="stylesheet">
      <link href="{{ site.github.url }}/css/site.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{{ site.github.url }}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>