<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <img class="img-responsive" src="{{ site.url }}/images/layout/NavButton.png" />
      </button>
      <h1>
      <a class="navbar-brand" href="{{ site.url }}">Nevada Dynamics</a>
      </h1>
    </div>
    <div class="navbar-collapse collapse">
    <div class="pull-right-md">
    <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.url }}/about">About</a>
        </li>
        <li><a href="{{site.url}}/team">Meet the Team</a></li>
        <li><a href="{{site.url}}/contact">Contact</a></li>
    </ul>
    </div>
    <div class="center-nav">  
    <!--<ul class="nav navbar-nav">
        <li><a href="{{site.url}}/products">Products</a></li>
        <li><a href="{{site.url}}/services">Services</a></li>
        <li>
          <a href="{{ site.url }}/blog">Blog</a>
        </li>
    </ul>-->
    </div>
  </div>
</div>
</div>
<!-- Navigation -->